:root {
  --fs: 1rem; /* 18 px */
  --fxs: 0.856rem;
  --fs-large: 3.5rem;
  --fs-small: 1.4rem;
  --fs-medium: 1.1rem;
  --ff: "Hanken Grotesk", sans-serif;

  --lightred: hsl(0, 100%, 67%);
  --orangeyyellow: hsl(39, 100%, 56%);
  --greenteal: hsl(166, 100%, 37%);
  --cobaltblue: hsl(234, 85%, 45%);

  --lightred-alpha: hsla(0, 100%, 67%, 0.1);
  --orangeyyellow-alpha: hsla(39, 100%, 56%, 0.1);
  --greenteal-alpha: hsla(166, 100%, 37%, 0.1);
  --cobaltblue-alpha: hsla(234, 85%, 45%, 0.1);
  /* Gradients */

  --lightslateblue-bg: hsl(252, 100%, 67%);
  --lightroyalblue-bg: hsl(241, 81%, 54%);

  /* hsla */

  --lightslateblue-bg-tr: hsla(252, 100%, 67%, 1);
  --lightroyalblue-bg-tr: hsla(241, 81%, 54%, 1);

  --violetblue-circle: hsla(256, 72%, 46%, 1);
  --persianblue-circle: hsla(241, 72%, 46%, 0);

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --paleblue: hsl(221, 100%, 96%);
  --lightlavender: hsl(241, 100%, 89%);
  --darkgrayblue: hsl(224, 30%, 27%);

  --lightlavender-tr: hsla(241, 100%, 89%, 0.9);
  --darkgrayblue-alpha: hsla(224, 30%, 27%, 0.5);
}

body {
  font-size: var(--fs);
  font-family: var(--ff);
  margin: 0;
  
  background-color: white; /*delete after*/
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}



.article-top {
  background: linear-gradient(
    var(--lightslateblue-bg),
    var(--lightroyalblue-bg)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  text-align: center;
  box-shadow: 0 60px 30px -10px var(--cobaltblue-alpha);
  padding: 30px;
  max-width: 100%
}

.top-title {
  font-size: var(--fs-medium);
  color: var(--lightlavender);
}

.article-top-text {
  padding-top: 0;
  margin-top: 0;
  color: var(--lightlavender);
 
}

.article-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 33px;
  padding-right: 33px;
  
}

.fading-circle {
  background: linear-gradient(
    var(--violetblue-circle),
    var(--persianblue-circle)
  );
  width: 134px;
  height: 134px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

.big-number {
  font-size: var(--fs-large);
  padding-bottom: 0;
  margin-bottom: 30px;
  color: var(--white);
}

.middle-title {
    color: var(--white);
}

.result-percentage {
  padding-top: 0;
  margin-top: 0;
  color: var(--lightlavender-tr);
}

.artcile-top-text {
  color: var(--paleblue);
  width: 50%;
}




.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  height: 25px;
  width: 260px;
  
}

.blue-btn {
  border: none;
  background-color: var(--darkgrayblue);
  max-width: 80%;
  width: 290px;
  height: 40px;
  padding: 10px;
  font-size: var(--fxs);
  color: var(--white);
  border-radius: 30px;
  margin-bottom: 10px;
  margin-top: 15px;
  transition: 0.3s;
}

.blue-btn:hover {
  background-color: var(--darkgrayblue-alpha);
  color: white;
}

.reaction {
  background-color: var(--lightred-alpha);
  font-size: var(--fxs);
}
.memory {
  background-color: var(--orangeyyellow-alpha);
  font-size: var(--fxs);
}

.verbal {
  background-color: var(--greenteal-alpha);
  font-size: var(--fxs);
}
.visual {
  background-color: var(--cobaltblue-alpha);
  font-size: var(--fxs);
  
}

.percentage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



img {
  padding-right: 5px;
}
.red {
  color: var(--lightred);
}

.yellow {
  color: var(--orangeyyellow);
}
.green {
  color: var(--greenteal);
}

.blue {
  color: var(--cobaltblue);
}
p span {
  color: var(--darkgrayblue);
}

.ratings {
  font-weight: bold;
  padding-right: 5px;
}

h3 {
  font-size: var(--fxs);
}

.grey-rating {
  color: var(--darkgrayblue-alpha);
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 15px;
  padding-left: 0;
  margin-left: 0;
}

.one {
  background-color: var(--lightred-transparent);
}

.bottom-title {
  
  font-size: var(--fs);
  text-align: left;
  width: 260px;
  
}

@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (min-width: 72rem) {
  body {
    background-color: var(--paleblue);
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    background-color: var(--white);
    border-radius: 40px;
    
    
  }
  .article-top {
    border-radius: 40px;
    box-shadow: none;
    height: 350px;
  }

  

  .article-bottom {
    height: 350px;
  }
}
