:root {
  --fs: 1.1rem; /* 18 px */
  --fs-large: 3rem;
  --ff: "Hanken Grotesk", sans-serif;

  --lightred: hsl(0, 100%, 67%);
  --orangeyyellow: hsl(39, 100%, 56%);
  --greenteal: hsl(166, 100%, 37%);
  --cobaltblue: hsl(234, 85%, 45%);

  --lightred-transparent: rgb(255, 191, 255);
  /* Gradients */

  --lightslateblue-bg: hsl(252, 100%, 67%);
  --lightroyalblue-bg: hsl(241, 81%, 54%);

  /* hsla */

  --lightslateblue-bg-tr: hsla(252, 100%, 67%, 1);
  --lightroyalblue-bg-tr: hsla(241, 81%, 54%, 1);

  --violetblue-circle: hsla(256, 72%, 46%, 1);
  --persianblue-circle: hsla(241, 72%, 46%, 0);

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --paleblue: hsl(221, 100%, 96%);
  --lightlavender: hsl(241, 100%, 89%);
  --darkgrayblue: hsl(224, 30%, 27%);

  --lightlavender-tr: hsla(224, 30%, 27%, 1);

}

body {
  font-size: var(--fs);
  font-family: var(--ff);
  margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.blue-btn {
  border: none;
  background-color: var(--darkgrayblue);
  width: 80%;
  height: 55px;
  font-size: var(--fs);
  color: var(--white);
  border-radius: 15px;
}

.article-top {
    background: linear-gradient(var(--lightslateblue-bg), var(--lightroyalblue-bg));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    text-align: center;
}

.article-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    width: 100%;
    padding-left: 33px;
    padding-right: 33px;
}

.fading-circle {
    background: linear-gradient(var(--violetblue-circle), var(--persianblue-circle));
    width: 134px;
    height: 134px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

.big-number {
    font-size: var(--fs-large);
    padding-bottom: 0;
    color: var(--white);
}

.result-percentage {
    padding-top: 0;
    margin-top: 0;
    color: var(--lightslateblue-bg-tr);
}

.artcile-top-text {
    color: var(--paleblue);
    width: 60%;

}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 2px solid green;
}


.red {
    color: var(--lightred);
}

.yellow {
    color: var(--orangeyyellow);

}
.green {
    color: var(--greenteal);
}

.blue {
    color: var(--cobaltblue);
}
p span {
    color: var(--paleblue);
}



.card {
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 51px;
    border-radius: 15px;
    
}

.one {
    background-color: var(--lightred-transparent);
} 


@media (min-width: 760px) {

    body {
        background-color: var(--paleblue);
    }

    .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 1200px;
    height: 600px;

}
.article-top {
    border-radius: 40px;
}

.article-bottom {
    background-color: var(--white);
}
 }